@import url('//fonts.googleapis.com/css?family=Poppins:300,400,500|Material+Icons');
@tailwind base;
@tailwind components;
@tailwind utilities;

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
